<div id="two-color-picker" class="color-picker box-border-dark" style="display: none">
    <# colorPalette.forEach(function (color) { #>
        <div class="color" style="background: <#= color #>" data-color="<#= color #>"></div>
    <# }) #>

    <div class="custom">
    	<input type="text" class="textfield-border"/>
    </div>
</div>
