<div class="win-content message-list-wrapper searchable-list ng-scope">
    <header class="win-head">
        <h2><#= locale("queue", "title") #> <span class="small">v<#= version #></span></h2>
        <ul class="list-btn">
            <li><a href="#" class="twOverflow-close size-34x34 btn-red icon-26x26-close"></a></li>
        </ul>
    </header>

    <div class="tabs tabs-bg">
        <div class="tabs-three-col">
            <div class="tab" tab="add">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("common", "add") #></a></div>
                </div>
            </div>
            <div class="tab" tab="queue">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("common", "waiting") #></a></div>
                </div>
            </div>
            <div class="tab" tab="log">
                <div class="tab-inner">
                    <div><a href="#" class="btn-icon btn-orange"><#= locale("common", "logs") #></a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="win-main">

        <!-- add command -->

        <div class="box-paper footer has-footer-upper rich-text twOverflow-content-add">
            <form class="addForm">
                <div>
                    <table class="tbl-border-light tbl-striped">
                        <colgroup>
                            <col width="30%">
                            <col width="5%">
                            <col>
                            <col width="18%">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>
                                    <input data-setting="origin" type="text" class="textfield-border origin" pattern="\\d{2,3}\\|\\d{2,3}" placeholder="<#= locale("queue", "add.village-search") #>" required>
                                </td>
                                <td class="text-center"><span class="icon-26x26-rte-village"></span></td>
                                <td class="originVillage"><#= locale("queue", "add.no-village") #></td>
                                <td class="actions">
                                    <a class="btn btn-orange addSelected" tooltip="<#= locale("queue", "add.addSelected") #>"><#= locale("common", "selected") #></a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <input data-setting="target" type="text" class="textfield-border target" pattern="\\d{2,3}\\|\\d{2,3}" placeholder="<#= locale("queue", "add.village-search") #>" required>
                                </td>
                                <td class="text-center"><span class="icon-26x26-rte-village"></span></td>
                                <td class="targetVillage"><#= locale("queue", "add.no-village") #></td>
                                <td class="actions">
                                    <a class="btn btn-orange addMapSelected" tooltip="<#= locale("queue", "add.addMapSelected") #>"><#= locale("common", "selected") #></a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <input data-setting="date" type="text" class="textfield-border date" pattern="\\s*\\d{1,2}:\\d{1,2}:\\d{1,2}(:\\d{1,3})? \\d{1,2}\\/\\d{1,2}\\/\\d{4}\\s*" placeholder="<#= locale("queue", "add.date") #>" tooltip="00:00:00:000 00/00/0000" required>
                                </td>
                                <td class="text-center"><span class="icon-26x26-time"></span></td>
                                <td>
                                    <span class="ff-cell-fix">
                                        <select data-setting="dateType" class="dateType">
                                            <option value="arrive" selected><#= locale("queue", "add.arrive") #></option>
                                            <option value="out"><#= locale("queue", "add.out") #></option>
                                        </select>
                                    </span>
                                </td>
                                <td class="actions">
                                    <a class="btn btn-orange currentDateMinus" tooltip="<#= locale("queue", "add.currentDateMinus") #>">-</a><a class="btn btn-orange addCurrentDate" tooltip="<#= locale("queue", "add.currentDate") #>"><#= locale("common", "now") #></a><a class="btn btn-orange currentDatePlus" tooltip="<#= locale("queue", "add.currentDatePlus") #>">+</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="tbl-border-light tbl-units tbl-speed screen-village-info travelTimes" style="display:none">
                        <thead>
                            <tr>
                                <th colspan="7"><#= locale("queue", "add.travelTimes") #></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="odd">
                                    <div class="unit-wrap">
                                        <span class="icon icon-34x34-unit-knight"></span>
                                        <span class="icon icon-34x34-unit-light_cavalry"></span>
                                        <span class="icon icon-34x34-unit-mounted_archer"></span>
                                    </div>
                                    <div class="travelTime box-time-sub-icon">
                                        <div class="time-icon icon-20x20-attack"></div>
                                        <span class="attack" data-unit="knight"></span>
                                    </div>
                                    <div class="travelTime box-time-sub-icon">
                                        <div class="time-icon icon-20x20-support"></div>
                                        <span class="support" data-unit="knight"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="unit-wrap">
                                        <span class="icon icon-single icon-34x34-unit-heavy_cavalry"></span>
                                    </div>
                                    <div class="travelTime"><span class="attack" data-unit="heavy_cavalry"></span></div>
                                    <div class="travelTime"><span class="support" data-unit="heavy_cavalry"></span></div>
                                </td>
                                <td class="odd">
                                    <div class="unit-wrap">
                                        <span class="icon icon-34x34-unit-archer"></span>
                                        <span class="icon icon-34x34-unit-spear"></span>
                                        <span class="icon icon-34x34-unit-axe"></span>
                                        <span class="icon icon-34x34-unit-doppelsoldner"></span>
                                    </div>
                                    <div class="travelTime"><span class="attack" data-unit="axe"></span></div>
                                    <div class="travelTime"><span class="support" data-unit="axe"></span></div>
                                </td>
                                <td>
                                    <div class="unit-wrap">
                                        <span class="icon icon-single icon-34x34-unit-sword"></span>
                                    </div>
                                    <div class="travelTime"><span class="attack" data-unit="sword"></span></div>
                                    <div class="travelTime"><span class="support" data-unit="sword"></span></div>
                                </td>
                                <td class="odd">
                                    <div class="unit-wrap">
                                        <span class="icon icon-34x34-unit-catapult"></span>
                                        <span class="icon icon-34x34-unit-ram"></span>
                                    </div>
                                    <div class="travelTime"><span class="attack" data-unit="ram"></span></div>
                                    <div class="travelTime"><span class="support" data-unit="ram"></span></div>
                                </td>
                                <td>
                                    <div class="unit-wrap">
                                        <span class="icon icon-single icon-34x34-unit-snob"></span>
                                    </div>
                                    <div class="travelTime"><span class="attack" data-unit="snob"></span></div>
                                    <div class="travelTime"><span class="support" data-unit="snob"></span></div>
                                </td>
                                <td class="odd">
                                    <div class="unit-wrap">
                                        <span class="icon icon-single icon-34x34-unit-trebuchet"></span>
                                    </div>
                                    <div class="travelTime"><span class="attack" data-unit="trebuchet"></span></div>
                                    <div class="travelTime"><span class="support" data-unit="trebuchet"></span></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <h5 class="twx-section collapse"><#= locale("common", "units") #></h5>
                <table class="tbl-border-light tbl-striped">
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>
                    <tbody class="add-units">
                        <tr>
                            <td colspan="4" class="actions">
                                <select class="insert-preset"></select>
                                <a class="clear-units btn btn-orange"><#= locale("queue", "add.clear") #></a>
                            </td>
                        </tr>

                        <tr>
                            <# units.forEach(function(unit, i) { #>
                                <# if (i !== 0 && i % 4 === 0) { #>
                                    </tr><tr>
                                <# } #>

                                <td class="cell-space-left">
                                    <span class="unit-icon icon-bg-black icon-34x34-unit-<#= unit #>"></span>
                                    <input class="unit <#= unit #>" type="text" data-setting="<#= unit #>" placeholder="0">
                                </td>
                            <# }) #>

                            <td class="text-center catapult-target" style="display:none" colspan="3">
                                <select data-setting="catapultTarget">
                                    <# buildings.forEach(function(building, i) { #>
                                        <# if (building === "headquarter") { #>
                                            <option value="headquarter" selected><#= locale("common", "headquarter") #></option>
                                        <# } else { #>
                                            <option value="<#= building #>"><#= locale("common", building) #></option>
                                        <# } #>
                                    <# }) #>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h5 class="twx-section collapse"><#= locale("common", "officers") #></h5>
                <table class="tbl-border-light tbl-striped officers">
                    <tbody>
                        <tr>
                            <# officers.forEach(function(officer) { #>
                                <td>
                                    <span class="icon-34x34-premium_officer_<#= officer #>"></span>
                                    <label class="btn-orange icon-26x26-checkbox">
                                        <input type="checkbox" data-setting="<#= officer #>" class="<#= officer #>">
                                    </label>
                                </td>
                            <# }) #>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <!-- waiting commands -->

        <div class="box-paper footer has-footer-upper rich-text twOverflow-content-queue">
            <div class="filters">
                <table class="tbl-border-light">
                    <tbody>
                        <tr>
                            <td>
                                <div data-filter="selectedVillage" class="box-border-dark icon selectedVillage" tooltip="<#= locale("queue", "filters.selectedVillage") #>">
                                    <span class="icon-34x34-village-info icon-bg-black"></span>
                                </div>
                                <div data-filter="barbarianTarget" class="box-border-dark icon barbarianTarget" tooltip="<#= locale("queue", "filters.barbarianTarget") #>">
                                    <span class="icon-34x34-barbarian-village icon-bg-black"></span>
                                </div>
                                <div data-filter="attack" class="box-border-dark icon allowedTypes active" tooltip="<#= locale("queue", "filters.attack") #>">
                                    <span class="icon-34x34-attack icon-bg-black"></span>
                                </div>
                                <div data-filter="support" class="box-border-dark icon allowedTypes active" tooltip="<#= locale("queue", "filters.support") #>">
                                    <span class="icon-34x34-support icon-bg-black"></span>
                                </div>
                                <div data-filter="relocate" class="box-border-dark icon allowedTypes active" tooltip="<#= locale("queue", "filters.relocate") #>">
                                    <span class="icon-34x34-relocate icon-bg-black"></span>
                                </div>
                                <div class="text">
                                    <input data-filter="textMatch" type="text" class="box-border-dark textMatch" placeholder="<#= locale("queue", "filters.textMatch") #>">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h5 class="twx-section collapse"><#= locale("queue", "queue.waiting") #></h5>
            <div class="queue">
                <p class="center nothing"><#= locale("queue", "queue.noneAdded") #></p>
            </div>
        </div>

        <!-- logs -->

        <div class="box-paper footer has-footer-upper rich-text twOverflow-content-log">
            <h5 class="twx-section collapse"><#= locale("queue", "queue.sent") #></h5>
            <div class="sent">
                <p class="center nothing"><#= locale("queue", "queue.noneSent") #></p>
            </div>

            <h5 class="twx-section collapse"><#= locale("queue", "queue.expired") #></h5>
            <div class="expired">
                <p class="center nothing"><#= locale("queue", "queue.noneExpired") #></p>
            </div>
        </div>
    </div>
    
    <footer class="win-foot">
        <ul class="list-btn list-center buttons">
            <li class="twOverflow-button-log">
                <a class="btn-orange btn-border clear"><#= locale("queue", "general.clear") #></a>
            </li>
            <li class="twOverflow-button-add">
                <a class="btn-orange btn-border add" name="attack"><span class="icon-26x26-attack-small"></span> <#= locale("common", "attack") #></a>
            </li>
            <li class="twOverflow-button-add">
                <a class="btn-orange btn-border add" name="support"><span class="icon-26x26-support"></span> <#= locale("common", "support") #></a>
            </li>
            <li class="twOverflow-button-add">
                <a class="btn-orange btn-border add" name="relocate"><span class="icon-26x26-relocate"></span> <#= locale("common", "relocate") #></a>
            </li>
            <li class="twOverflow-button">
                <a class="btn-green btn-border switch"><#= locale("common", "activate") #></a>
            </li>
        </ul>
    </footer>
</div>
